.filter__type__bar{
    display: flex;
    align-items: center;
}

.type__select__bar{
    color:white;
    padding: 0.6em;
    text-transform: capitalize;
    font-size: 1.2rem;
    font-weight: 500;
    background-color: #000000bd;
    margin-left: 1em;
    border-radius: 5px;
    border-color: black;
    position: relative;
    margin-left: 7rem;

}

.type__select__options {
    color: rgb(187, 13, 13);
    background-color: white;  
}